.socials-container {
	display: flex;
	justify-content: space-evenly;

	@include phone {
		flex-wrap: wrap;
	}

	.social-account {
		@include phone {
			width: 33%;
			margin-bottom: 30px;
		}

		.social-link {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100px;

			.social-icon {
				font-size: 3em;
				color: $base-color;
				transition: all 300ms ease-in-out;

				&--facebook:hover,
				&--facebook:focus {
					color: #3b5998;
				}

				&--instagram {
					background: radial-gradient(
							circle farthest-corner at 35% 90%,
							#fec564,
							transparent 50%
						),
						radial-gradient(
							circle farthest-corner at 0 140%,
							#fec564,
							transparent 50%
						),
						radial-gradient(
							ellipse farthest-corner at 0 -25%,
							#5258cf,
							transparent 50%
						),
						radial-gradient(
							ellipse farthest-corner at 20% -50%,
							#5258cf,
							transparent 50%
						),
						radial-gradient(
							ellipse farthest-corner at 100% 0,
							#893dc2,
							transparent 50%
						),
						radial-gradient(
							ellipse farthest-corner at 60% -20%,
							#893dc2,
							transparent 50%
						),
						radial-gradient(
							ellipse farthest-corner at 100% 100%,
							#d9317a,
							transparent
						),
						linear-gradient(
							#6559ca,
							#bc318f 30%,
							#e33f5f 50%,
							#f77638 70%,
							#fec66d 100%
						);

					background-clip: text;

					&:hover,
					&:focus {
						color: rgba(0, 0, 0, 0);
					}
				}

				&--steam {
					background: linear-gradient(0deg, #137eb0, #121d2f);
					background-clip: text;

					&:hover,
					&:focus {
						color: rgba(255, 255, 255, 0);
					}
				}

				&--twitter:hover,
				&--twitter:focus {
					color: #1da1f2;
				}

				&--twitch:hover,
				&--twitch:focus {
					color: #6441a5;
				}

				&--linkedin:hover,
				&--linkedin:focus {
					color: #2867b2;
				}

				&--youtube:hover,
				&--youtube:focus {
					color: #ff0000;
				}
			}
		}
	}
}
